@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}
a {
	text-decoration: none;
	cursor: pointer;
	transition: all 0.4s;
	display: inline-block;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
}
img {
	max-width: 100%;
}
.cmn_btn_primary {
	background: #fff;
	color: #5859f4;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	padding: 10px 26px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	display: inline-block;
}
header {
	background: transparent;
	position: absolute;
	width: 100%;
	top: 15px;
}
header ul.hdr_lgn {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: auto;
}
header li.nav-item {
	margin: 0 20px;
}
header li.nav-item a.nav-link {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}
header li.nav-item.active a.nav-link {
	font-weight: 700;
}

section.feature_banner_sec {
	background: #5859f4;
	height: 100vh;
	display: flex;
	align-items: center;
}
.ftr_bnr_con p {
	max-width: 50%;
	margin: auto;
}
.ftr_bnr_con {
	text-align: center;
	color: #fff;
}
.ftr_bnr_ttl {
	font-size: 58px;
	font-weight: 700;
	margin: 0 0 15px;
}
.ftr_bnr_con .cmn_btn_primary {
	margin: 30px 0 0;
}

.cmn_hdng_con {
	margin: 0 0 70px;
}
.crt_dpsync_con {
	margin: 0 0 70px;
}
.cmn_hdng_ttl {
	font-size: 30px;
	font-weight: 700;
	color: #3f3f3f;
	margin: 12px 0 10px;
}
.cmn_hdng_con p {
	color: #8b8b8b;
}
section.cret_deep_sec {
	padding: 50px 0;
	background: #fcfcfc;
}
.crt_dpsync_ttl {
	font-size: 26px;
	color: #5859f4;
	font-weight: 600;
	margin: 0 0 10px;
}
.crt_dpsync_con p {
	color: #8b8b8b;
}
.crt_dpsync_con a {
	color: #5859f4;
	font-size: 18px;
}
.crt_dpsync_img {
	margin: 25px 0 0;
}
.crt_dpsync_img img {
	max-width: 400px;
}

section.grow_engage_sec {
	padding: 60px 0;
}
section.grow_engage_sec .cmn_hdng_con {
	margin: 0;
}
.grow_con_img img {
	max-width: 430px;
	margin: auto;
}
.grow_con_img {
	margin: 30px 0;
}

section.quality_audio_sec {
	background: #6b6bed url('../public/images/create_quality_bg.png') no-repeat
		center top;
	padding: 66px 0;
}
.qlty_ado_con {
	text-align: center;
	color: #fff;
	max-width: 45%;
	margin: auto;
}
.qlty_ado_con strong {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	margin: 0 0 10px;
	display: block;
}
.qlty_ado_con p {
	font-size: 16px;
	opacity: 0.8;
}
.qlty_ado_con .cmn_btn_primary {
	background: #333333;
	color: #fff;
	border-color: #333333;
	margin: 15px 0 0;
}
.qlty_ado_con .cmn_btn_primary:hover {
	color: #333333;
	background: #fff;
}

footer {
	background: #5859f4;
	padding: 80px 0 60px;
}
.ftr_lnks_sngl {
	color: #fff;
}
.ftr_lnks_sngl ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.ftr_lnks_sngl ul li {
	margin: 0 0 7px;
}
.ftr_lnks_sngl ul li a {
	color: #d7d7d7;
	white-space: nowrap;
}
.ftr_lnks_sngl ul li a:hover {
	color: #fff;
}
.ftr_lnks_ttl {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 7px;
}
.ftr_btm_prt {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 70px 0 0;
}
.ftr_btm_prt ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}
.ftr_btm_prt ul li {
	color: #ddd;
	margin: 0 7px 0;
}

/* media queries start */
@media (min-width: 991px) {
	header .navbar-expand-lg .navbar-collapse {
		justify-content: center;
	}
}

@media (max-width: 767px) {
	p {
		font-size: 14px;
		line-height: 22px;
		text-align: justify;
	}
	.ftr_bnr_ttl {
		font-size: 27px;
		word-break: break-all;
		line-height: 38px;
	}
	.grow_con_img img,
	.crt_dpsync_img img {
		max-width: 100%;
	}
	section.feature_banner_sec {
		height: auto;
		padding: 110px 0 40px;
	}
	.ftr_bnr_con p {
		max-width: 100%;
	}
	header button.navbar-toggler {
		color: #fff;
		font-size: 28px;
		padding: 0;
		margin: 3px 15px 0 0;
	}
	.cmn_btn_primary {
		font-size: 16px;
	}
	header .navbar-brand img {
		max-width: 150px;
	}
	header .cmn_btn_primary {
		padding: 5px 18px;
	}
	.cmn_hdng_ttl {
		font-size: 22px;
		line-height: 30px;
	}
	.cmn_hdng_con,
	section.grow_engage_sec .cmn_hdng_con {
		margin: 0 0 30px;
	}
	.crt_dpsync_ttl {
		font-size: 22px;
		line-height: 28px;
	}
	.crt_dpsync_con {
		margin: 0 0 40px;
	}
	section.cret_deep_sec {
		padding: 40px 0 0;
	}
	section.grow_engage_sec {
		padding: 40px 0;
	}
	.crt_dpsync_con {
		margin: 0 0 40px;
	}
	.qlty_ado_con {
		max-width: 100%;
	}
	.qlty_ado_con strong {
		font-size: 24px;
		line-height: 30px;
	}
	section.quality_audio_sec {
		padding: 40px 0;
	}
	footer {
		padding: 40px 0 30px;
	}
	.ftr_lnks_sngl {
		margin: 0 0 25px;
	}
	.ftr_lnks_sngl ul li {
		margin: 0 0 4px;
	}
	.ftr_lgo {
		margin: 0 0 30px;
	}
	.ftr_btm_prt {
		margin: 0;
	}
	.ftr_btm_prt ul {
		margin: 20px 0 0;
	}
	.ftr_btm_prt ul li {
		font-size: 14px;
		text-align: center;
	}
}
